/*   ================================================================== *

    Description:

    This is a responsive page layout that matches the given
    wireframes and breakpoints:

     - large  1024
     - medium 768
     - small  320

    When is not at the specific breakpoint, it is just fluid.
    Without media queries the layout is mobile first.

    The Article Component is the main modular component
    that can live both in the header and main page sections.

    Components semantics:

      Button            .button

      Navigation        .menu
                          .menu__toggle
                          .menu__list
                            .menu__list__item
                              .menu__list__link

      Article           .article
                          .article__media
                            .article__img
                          .article__info
                            .article__title
                            .article__text
                            .article__link

                        .article--teaser
                        .article--list


    Bonus:

    The unobtrusive "no-js-first" feature is done
    by assuring main navigation functionality (menuToggle button)
    in both JS and NO-JS modes.

    The Accessible feature is done by providing keyboard navigation
    in both JS and NO-JS modes and page section roles.


    Contents of this file:

    1 Reset
    2 Global
    4 Components
      4.1 Button
      4.2 Navigation
      4.3 Article
    5 Debuggers

*/


/*  Reset ================================================================== *
    http://meyerweb.com/eric/tools/css/reset/ v2.0 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
.article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
.article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*  Global ================================================================== */

/*  font-size might be viewport width dependant
*/
html {
  font-size: 5vw;
}
@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 2.1vw;
  }
}
@media (min-width: 1023px) {
  html {
    font-size: 1.56vw;
  }
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  font-family: sans-serif;
  color: black;
	line-height: 1.5;
  font-size: 1rem;
}
h1,
h2,
a,
button {
  font-weight: bold;
}
h1,
h2 {
  font-size: 1.2em;
}
h1,
h2,
p {
  margin-bottom: 1em;
}
a {
  text-decoration: none;
}
a:focus {
  color: yellow;
  text-decoration: underline;
}
img {
  max-width: 100%;
}

.container {
  /* add space at the end of the page
  to better test navigation*/
  margin-bottom: 50em;
}
.teaser,
.list {
  /* Internal links space
  for stiky navigation bar */
  padding-top: 3em;
}
[tabindex]:not([tabindex="-1"]):focus,
a:focus,
button:focus {
  outline-color: yellow;
  outline-offset: -1px;
  outline-width: 1px;
  outline-style: dashed;
}


/*  Components ============================================================== */

/*  Button ============================= */

.button {
  width: 100%;
  border: 1px solid;
  background-color: white;
  color: black;
  padding: 1em 1.5em;
  box-shadow: 3px 3px 0px;
  font-size: 1.1em;
}
@media (min-width: 1023px) {
  .button {
    width: auto;
  }
}

/*  Navigation ========================= */

.menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
}

.menu__toggle {
  display: block;
  padding: .5em;
  cursor: pointer;
  color: white;
}
.no-js .menu__toggle {
  /*  no-js */
  display: none;
}
.menu__toggle__icon {
  fill: white;
  stroke: none;
  width: 4%;
  max-height: 1em;
}
.menu__list__item {
  float: left;
}
.menu__list__link {
  display: block;
  padding: .8em;
  background-color: #333;
  font-weight: bold;
  color: white;
}
@media (min-width: 1024px) {
  .menu__toggle {
    display: none;
  }
}
@media (max-width: 1023px) {
  .menu__list {
    display: none;
  }
  .menu__list__item {
    float: none;
    width: 100%;
  }
  .js-menu-opened .menu__list {
    display: block;
  }
  .no-js .menu__list {
    /*  no-js */
    display: block;
  }
  .no-js .menu__list__item {
    /*  no-js */
    float: left;
    width: auto;
  }
}

/*  Article ============================ **/

.article {
  padding: .9em 0;
  text-align: center;
  margin: 0 auto;
  max-width: 92%;
}
.article__info {
  margin: 0 auto;
}
.article__title span {
  /* if it breacks, it breacks ONLY after comma */
  display: inline-block;
}
.article__img {
  margin-bottom: 2em;
  border: 1px solid;
}
@media (max-width: 767px) {
  .article__info {
    max-width: 100%
  }
  .article__media,
  .article__info {
    width: 100%;
    margin: 0 auto;
  }
  .article__title {
    font-size: 1.1em;
  }
  .article__img {
    margin-bottom:  .5em;
  }
}
@media (min-width: 768px){
  .article {
    padding: 2.7em 0;
  }
  .article__media,
  .article__info {
    max-width: 80%;
    margin: 0 auto;
  }
}

/*  Teaser Article */

.teaser {
  background-color: #989898;
}
.article--teaser .article__media,
.article--teaser .article__info {
  width: 100%;
  display: block;
  margin: 0 auto;
  color: white;
  text-align: center;
}
.article--teaser .article__title {
  font-size: 1.1em;
}
@media (min-width: 768px) {
  .article--teaser .article__media,
  .article--teaser .article__info {
    color: black;
    max-width: 60%;
  }
  .article--teaser .article__title {
    font-size: 1.5em;
  }
}
@media (min-width: 1024px) {
  .article--teaser {
    display: table;
    table-layout: fixed;
    direction: rtl;
  }
  .article--teaser .article__media,
  .article--teaser .article__info {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    direction: ltr;
    max-width: none;
    text-align: left;
  }
  .article--teaser .article__media {
    text-align: right;
  }
  .article--teaser .article__img {
    width: 80%;
  }
  .article--teaser .article__title {
    font-size: 1.6em;
  }
}

/*  Page Article */

.article--list {
  width: 100%;
  float: none;
  padding: 1.8em 0 0 0;
}
.article--list .article__media,
.article--list .article__info {
  float: none;
}
.article--list .article__text {
  font-size: .8em;
}
.article--list .article__img {
  max-width: 50%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .article--list {
    width: 76%;
    text-align: left;
    clear: both;
    margin: 0 auto;
    float: none;
    display: table;
    padding: 2em 0 0 0;
  }
  .article--list .article__media,
  .article--list .article__info {
    display: table-cell;
    vertical-align: middle;
  }
  .article--list .article__media {
    width: 32%;
  }
  .article--list .article__info {
    width: 70%;
  }
  .article--list .article__img {
    margin-bottom: 0;
    max-width: 80%;
  }
}
@media (min-width: 768px) {
  .article--list .article__info {
    margin: 0 auto;
    max-width: 80%;
  }
}
@media (min-width: 1024px) {
  .article--list {
    width: 50%;
    float: left;
    text-align: center;
    padding: 6em 0 0 0;
  }
}

/*  Debuggers =============================================================== */

/*
div { box-shadow: 0 0 1px inset; }
.article { box-shadow: 0 0 1px red inset; }

@media (min-width: 1024px) {
  body {background: url('wireframes/large.png') no-repeat 50% 0 black;}}
@media (min-width: 768px) and (max-width: 1023px) {
  body {background: url('wireframes/medium.png') no-repeat 50% 0 black;}}
@media (max-width: 767px) {
  body {background: url('wireframes/small.png') no-repeat 50% 0 black;}}
*/
